@charset "UTF-8";

body {
    background-color: rgb(52, 52, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

header {
    text-align: center;
    color: white;
}


section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.475);
}


footer {
    text-align: center;
    color: white;
    font-style: italic;
}