@charset "UTF-8";

body {
    background-color: rgb(81, 81, 254);
    font: normal 13pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.475);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}